/.metadata/
documentation/diagrammes/dal/.settings/
documentation/.metadata/
documentation/diagrammes/dal/diagrammesDesExigences/Activities.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Allocations.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Blocks.SVG
documentation/diagrammes/dal/diagrammesDesExigences/ConstraintBlocks.SVG
documentation/diagrammes/dal/diagrammesDesExigences/ControlValues_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/DeprecatedElements.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Libraries_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/ModelElements.SVG
documentation/diagrammes/dal/diagrammesDesExigences/NewSysML1_6SequenceDiagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/PortsAndFlows.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Primitive_Value_Types_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Requirements_VerdictKind_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Requirements.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Unit_And_QuantityKind_Diagram.SVG


# Gradle

build/
ans-microservice-squelette/build/

# Ignore Gradle GUI config
gradle-app.setting
ans-microservice-squelette/gradle-app.setting

.gradle
ans-microservice-squelette/.gradle

var/log/*
ans-microservice-squelette/var/log/*

!var/log/.gitkeep
!ans-microservice-squelette/var/log/.gitkeep

*\.vscode/*

bin/*
ans-microservice-squelette/bin/*
