/.metadata/
documentation/diagrammes/dal/.settings/
documentation/.metadata/
documentation/diagrammes/dal/diagrammesDesExigences/Activities.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Allocations.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Blocks.SVG
documentation/diagrammes/dal/diagrammesDesExigences/ConstraintBlocks.SVG
documentation/diagrammes/dal/diagrammesDesExigences/ControlValues_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/DeprecatedElements.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Libraries_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/ModelElements.SVG
documentation/diagrammes/dal/diagrammesDesExigences/NewSysML1_6SequenceDiagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/PortsAndFlows.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Primitive_Value_Types_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Requirements_VerdictKind_Diagram.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Requirements.SVG
documentation/diagrammes/dal/diagrammesDesExigences/Unit_And_QuantityKind_Diagram.SVG

ans-microservice-squelette/.gradle/
ans-microservice-squelette/bin/
ans-microservice-squelette/build
ans-microservice-squelette/var/log/java-basic-skeleton-test.log
